<div class="info">
    <img src="img/traveler-with-a-suitcase.svg" alt="capy icon">
    <h2 class="textoDestaque">  Oie Viajante</h2>
</div>

<div class="info count">
    <img src="img/capybara.png" alt="capy icon">
    <h2 id="textoDestaque"> 10 capivaras</h2>
</div>

<p>Sua atividade</p>
<div class="info">
    <img src="img/waterfall.svg" alt="icon">
    <h2 id="textoDestaque"> Você visitou bla bla bla</h2>
</div>
