<div id="container">
    <img id="capybara" src="/img/capybara.png">
    <div id="chat">
        <div class="badge" for="1">
            <p>Oi, Bem vindo(a) à Palmas!</p>
        </div>
        <div class="badge" for="2">
            <p>Eu sou a CAPI, capivara, animal emblemático da cidade e sua nova amiga de viagem.</p>
        </div>
        
        <div class="badge" for="3">
            <p>Pra te ajudar, eu preciso saber se você é um turista ou se sempre tira fotinhas minhas no Parque Cesamar.</p>
        </div>

        <div class="badge-buttons" for="4">
            <button onclick="setTourist(1)">Cheguei agora na cidade</button>
            <button onclick="setLocalUser(1)">Moro aqui em Palmas</button>
        </div>


        
    </div>
</div>